@model DynamicFields.Models.FieldsListViewModel

@{
    ViewBag.Title = "Fields";
}

<h2>Dynamic fields @Html.ActionLink("Add", "Add", null, new {@class = "btn btn-info"})</h2>

<table class="table table-hover">
    <thead>
    <tr>
        <th>Name</th>
        <th>Label</th>
        <th>Reference</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var f in Model.DbFields)
    {
        <tr>
            <td>@f.Name</td>
            <td>@f.Label</td>
            <td
                @if (f.ReferenceField == null)
                {
                    @:style="color: red" title="Invalid reference"
                }
            >
                @f.Reference
            </td>
            <td>@Html.ActionLink("edit", "Edit", new {id = f.Id})</td>
        </tr>
    }
    </tbody>
</table>


@if (Model.UnassignedFields.Any())
{
    <h2>Unassigned fields @Html.ActionLink("Assign all", "AssignAll", null, new {@class = "btn btn-info"})</h2>

    <ul class="list-unstyled">
        @foreach (var f in Model.UnassignedFields)
        {
            <li>
                @Html.ActionLink("Assign", "Add", new {reference = f.Name})
                @f.Name
            </li>
        }
    </ul>
}