@using DynamicFields.Helpers
@using Newtonsoft.Json
@model DynamicFields.Controllers.PreviewFormViewModel<DynamicFields.Data.Model.UserInfo>

@{
    Layout = "../Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    @using (var form = Html.BeginDynamicForm("SaveForm", "Forms", Model.Form, Model.Data, new {@class = "form"}))
    {
        <h2>@form.Name</h2>
        <blockquote>@form.Description</blockquote>
        foreach (var field in form.Fields())
        {
            <div class="row form-group">
                @if (field.IsHeadline)
                {
                    <h3>@field.Render()</h3>
                }
                else
                {
                    if (field.ShowLabel)
                    {
                        <label>@field.Label:</label>
                    }
                    <div>
                        @field.Render(new { @class = "form-control" })
                    </div>
                }
            </div>
        }

        <input type="submit" value="Save" class="btn btn-default"/>
    }
</div>

@section scripts{
    <script>
        $(function() {
            var updated = @Html.Raw(JsonConvert.SerializeObject(Model.Form.DateUpdated));
            var update = function() {
                $.ajax({
                    url: '@Url.Action("Info", "Forms", new {formId = Model.Form.Id})',
                    method: 'POST',
                    success: function(result) {
                        if (updated !== result.DateUpdated) {
                            window.location = window.location;
                        } else {
                            setTimeout(update, 1000);
                        }
                    }
                });
            };
            update();
        });
    </script>
}

</body>
</html>